{% extends 'base.html' %}

{% block head %}
<title>Phone Number</title>  <!__top title__>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Phone Book</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no phone number saved, create one on input page</h4>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.phonenumber}}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>  <!__delete button__>
                    <br>
                    <a href="/update/{{task.id}}"">Edit</a>  <!__update button__>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div style = 'text-align: center; margin-top: 20px;'>
        <a href = "/add">Add New Contact</a>
    </div>
</div>
{% endblock%}