{% extends 'base.html' %}

{% block head %}
<title>New Contact</title>  <!__top title__>
{% endblock %}

{% block body %}
<div class="content">

    <div style="margin-top: 30px">
        <form action="/addphonebook" method="POST"> <!__to send data to database__>
            <div>
                <label>Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label>Phone Number:</label>
                <input type="text" name="phonenumber" id="phonenumber">
            </div>
            
            <button type = "submit">Submit</button>
        </form>
    </div>
</div>
{% endblock%}